
.popup {
    width: 410px;
    height: 220px;
}

.popup_title {
    height: 50px;
    position: relative;
    text-align: center;
    font-size: 30px;
    color:#fda7b3;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #696969;
}

.signin {
    text-align: center;
    font-size: 25px;
    font-weight:400;
    color: #696969;
    position: relative;
    height: 40px;
}

#signin_btn {
    position: relative;
    top: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: -4px;
    color: white;
    background-color: #FFC0CB;
}

#signin_btn:hover {
    color: #fff;
    box-shadow:200px 0 0 0 rgba(254, 142, 206, 0.921) inset;
    cursor: pointer;
}